body {
  background-color: #DED6AE;
}

a.btn {
  text-decoration: none;
  margin-right: 1rem;
}

#container {
  display       : flex;
  flex-direction: column;
  flex-wrap     : wrap;
  align-items   : center;
}

#container h1 {
  margin-block: 0.5rem;
}

#container p,
#container ul {
  margin-block: 0.3rem;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.ico {
  display: inline-block;
  margin-right: 0.1rem;
  font-style: normal;
}
