body {
  background-color: #DED6AE;
}

a {
  text-decoration: none;
}

#container {
  display       : flex;
  flex-direction: column;
  flex-wrap     : wrap;
  align-items   : center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}
